<section id="landing-jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-12">                
                <div class="text-box">
                    <h3>Fireball</h3>
                    <p>
                        Fireball, el shot Nº 1 de USA llegó a Chile. Fuego puro embotellado sabor canela que vino a 
                        quemar tu garganta y prender tus carretes como nunca antes. <br />
                    </p>
                    <p>
                        <strong>Precio:</strong> $10.390 <br />
                        <a class="button" href="#">Ver detalles</a> <a class="button" href="#">Agregar a Carro</a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="featured-container container">
    <div class="row">
        <h3 class="col-12">Piscos más llevados</h3>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>

        <div class="featured-category col-2">
            <p class="text-center">
                <a href="#">Ver todos los piscos</a>
            <p>
        </div>
    </div>
</div>

<div class="featured-container container">
    <div class="row">
        <h3 class="col-12">Vodkas más llevados</h3>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>

        <div class="featured-category col-2">
            <p class="text-center">
                <a href="#">Ver todos los piscos</a>
            <p>
        </div>
    </div>
</div>

<div class="featured-container container">
    <div class="row">
        <h3 class="col-12">Rones más llevados</h3>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>

        <div class="featured-category col-2">
            <p class="text-center">
                <a href="#">Ver todos los piscos</a>
            <p>
        </div>
    </div>
</div>