<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Todas los usuarios</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <table>
            <thead>
                <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Rol</th>
                </tr>
            </thead>

            <tbody>
                <% @users.each do |user| %>
                <tr>
                    <td> <%= user.first_name %> </td>
                    <td> <%= user.last_name %> </td>
                    <td> <%= user.email %> </td>
                    <td> <%= user.role %> </td>
                    <td> <%= link_to "Ver usuario", user_path(user), class: "button"%> </td>
                    <td> <%= link_to "Editar usuario", edit_user_path(user), class: "button"%> </td>
                    <td> <%= link_to "Eliminar usuario", user_path(user), data: { :confirm => "¿Estás seguro que deseas eliminar el usuario?" }, :method => :delete, class: "button"%> </td>
                </tr>
                <% end %>
            </tbody>
            </table>
        </div>
    </div>
</div>