<% if @jumbotron_products.length > 0 %>
<section id="landing-jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron-ui" id="jumbotron-left-ui">
                    <span><%= fa_icon "chevron-left 2x" %></span>
                </div>
                <div id="jumbotron-mask">
                    <% @jumbotron_products.each do |product| %>
                    <div class="jumbotron-element" style="background-image: url('<%= product.jumbotron_image.url %>');">
                        <div class="text-box">
                            <h3><%= product.name %></h3>
                            <p>
                                <%= product.description %><br />
                            </p>
                            <p>
                                <strong>Precio:</strong> <%= number_to_currency(product.price) %><br />
                                <%= link_to fa_icon("search", text: "Ver detalles"), product_path(product), class: "button" %>
                                <%= link_to fa_icon("cart-plus", text: "Agregar a carro"), product_cart_path(product), class: "button", :method => :post %>
                        </div>
                    </div>
                    <% end %>
                </div>
                <div class="jumbotron-ui" id="jumbotron-right-ui">
                    <span><%= fa_icon "chevron-right 2x" %></span>
                </div>
            </div>
        </div>
    </div>
</section>
<% end %>

<div class="featured-container container">
    <div class="row">
        <h3 class="col-12">Piscos más llevados</h3>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>

        <div class="featured-category col-2">
            <p class="text-center">
                <a href="#">Ver todos los piscos</a>
            <p>
        </div>
    </div>
</div>

<div class="featured-container container">
    <div class="row">
        <h3 class="col-12">Vodkas más llevados</h3>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>

        <div class="featured-category col-2">
            <p class="text-center">
                <a href="#">Ver todos los piscos</a>
            <p>
        </div>
    </div>
</div>

<div class="featured-container container">
    <div class="row">
        <h3 class="col-12">Rones más llevados</h3>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>
        <div class="featured-product col-2">
            <h4><a href="#">Pisco Mal Paso</a></h4>
            <p class="text-center">
                <a href="#">
                    <%= image_tag "pisco_malpaso.png" %>
                </a>
                <strong>Precio:</strong> $4.790 <br/>
                <a class="button" href="#">Agregar a Carro</a>
                <a class="button" href="#">Agregar a Wishlist</a>
            <p>
        </div>

        <div class="featured-category col-2">
            <p class="text-center">
                <a href="#">Ver todos los piscos</a>
            <p>
        </div>
    </div>
</div>