<div class="container">
    <div class="row">
        <div class="col-6 h1-margin">
            <h1>Categorías</h1>
            <% if current_user && current_user.admin_role? %>
                <div class="row">
                    <div class="col-12">
                        <%= link_to fa_icon("plus", text: "Crear categoría"), new_category_path, class: "button" %>
                    </div>
                </div>
            <% end %>
        </div>        
    </div>
    <br>
    <div class="row">
        <div class="col-8">
            <% if @categories.length > 0 %>
                <div class="categories-container">
                    <% @categories.each do |category| %>
                        <div class="category">
                            <div class="category-row">
                                <div class="category-image-container">
                                    <%= image_tag category.image, :class => "category-image" %>
                                </div>
                                <div class="category-description">
                                    <h4> <%= category.name %> </h4>                                
                                    <%= category.description %>
                                </div>
                            </div>
                            <div class="row">
                                <%= link_to fa_icon("search"), category_path(category) %>
                                <% if current_user && current_user.admin_role? %>
                                    <%= link_to fa_icon("pencil"), edit_category_path(category) %>
                                    <%= link_to fa_icon("trash"), category_path(category), data: { :confirm => "¿Estás seguro que deseas eliminar la categoría?" }, :method => :delete %> 
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% else%>
                <h3>Aún no hay categorías en el sistema.</h3>
            <% end %>
        </div>
    </div>
</div>