<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Detalle de la categoria</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul>
                <li> <strong>Nombre: </strong> <%=@category.name %> </li>
                <li> <strong>Descripcion: </strong> <%= @category.description %> </li>
                <% if current_user && current_user.admin_role? %>
                    <li> <%= link_to fa_icon("pencil", text: "Editar categoria"), edit_category_path(@category), class: "button"%> </li> 
                    <li> <%= link_to fa_icon("trash", text: "Eliminar categoria"), category_path(@category), data: { :confirm => "¿Estás seguro que deseas eliminar la categoría?" }, :method => :delete, class: "button"%> </li> 
                <% end %>
            </ul>
        </div>        
    </div>
    <hr />
    <div class="row">
        <div class="col-6">
            <h3>Productos</h3>
        </div>
    </div>
    <%= render "products/product_list", products: @category.products, is_transaction: false %>
</div>