<div class="comment" id=<%= product.id %>>
    <% comments.each do |comment| %>
    <div class="comment-container">
        <div class="row">
            <div class="comment-user"><%= comment.user.first_name + " " + comment.user.last_name%></div>
            <div class="comment-date">
                <%= comment.created_at %>
                <% if current_user && current_user.admin_role? %>
                <%= link_to fa_icon("trash"), product_comment_path(product, comment), data: { :confirm => "¿Estás seguro que deseas eliminar este comentario?" }, :method => :delete, class: "trash-button" %>
                <% end %>
            </div>
        </div>
        <div class="comment-body"><%= comment.body %></div>
        <div class="row">
            
        </div>
    </div>
    <% end %>
</div>