<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Productos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <% if @products.length > 0 %>
            <table>
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Categoría</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th></th>
                    <th></th>
                    <% if current_user && current_user.admin_role? %>
                    <th></th>
                    <th></th>
                    <% end %>
                </tr>
            </thead>

            <tbody>
                <% @products.each do |product| %>
                <tr>
                    <td><%= product.sku %></td>
                    <td><%= product.category.name %></td>
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td><%= link_to "Ver", product_path(product), class: "button" %></td>
                    <td><%= link_to "Agregar al carro", product_cart_path(product), class: "button", :method => :post %></td>
                    <% if current_user && current_user.admin_role? %>
                    <td><%= link_to "Editar", edit_product_path(product), class: "button"%></td>
                    <td><%= link_to "Eliminar", product_path(product), data: { :confirm => "¿Estás seguro que deseas eliminar este producto?" }, :method => :delete, class: "button" %></td>
                    <% end %>
                </tr>
                <% end %>
            </tbody>
            </table>
            <% else %>
                <h3>Aún no hay productos en el sistema.</h3>
            <% end %>
        </div>
    </div>
    <% if current_user && current_user.admin_role? %>
    <div class="row">
        <div class="col-12">
            <%= link_to "Crear producto", new_product_path, class: "button" %>
        </div>
    </div>
    <% end %>
</div>