<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Productos</h1>
        </div>
    </div>
    <div class="row">
        <% if @products.length > 0 %>
            <% @products.each do |product| %>
            <div class="featured-product col-2">
                <h4><%= link_to product.name, product_path(product) %></h4>
                <p class="text-center">
                    <%= link_to image_tag(product.image.url), product_path(product) %>
                    <strong>Precio:</strong> <%= product.price %> <br />
                    <%= link_to fa_icon("search", text: "Ver producto"), product_path(product), class: "button" %>
                    <% if current_user %>
                        <br />
                        <%= link_to fa_icon("cart-plus", text: "Agregar al carro"), product_cart_path(product), class: "button", :method => :post %>
                        <% if current_user.admin_role? %>
                            <br />
                            <%= link_to fa_icon("pencil", text: "Editar producto"), edit_product_path(product), class: "button" %> <br />
                            <%= link_to fa_icon("trash", text: "Eliminar producto"), product_path(product), data: { :confirm => "¿Estás seguro que deseas eliminar este producto?" }, :method => :delete, class: "button" %>
                        <% end %>
                    <% end %>
                </p>
            </div>
            <% end %>
        <% else %>
            <h3 class="col-12">Aún no hay productos en el sistema.</h3>
        <% end %>
    </div>

    <% if current_user && current_user.admin_role? %>
    <div class="row">
        <div class="col-12">
            <%= link_to fa_icon("plus", text: "Crear producto"), new_product_path, class: "button" %>
        </div>
    </div>
    <% end %>
</div>