 <div class="container">
    <div class="row">
        <h1 class="text-margin"><%= @product.name %></h1>
    </div>
    <div class="row" id="first-row">
        <div class="col-2">
            <h5><strong>Precio:</strong> <%= number_to_currency(@product.price) %></h5>
            <h5><strong>Categoría:</strong> <%= link_to @product.category.name, category_path(@product.category) %></h5>
        </div>
        <% if current_user %>
        <div class="col-4">
            <% if current_user.admin_role? %>
                <%= link_to fa_icon("pencil", text: "Editar"), edit_product_path(@product), class: "button" %>
                <%= link_to fa_icon("trash", text: "Eliminar"), product_path(@product), data: { :confirm => "¿Estás seguro que deseas eliminar el producto?" }, :method => :delete, class: "button" %>
            <% end %>
            <%= link_to fa_icon("cart-plus", text: "Carro"), product_cart_path(@product), class: "button", :method => :post, remote: true %> 
            <%= link_to fa_icon("gift", text: "Wishlist"), product_wishlist_path(@product), class: "button", :method => :post %>
        </div>
        <% end %>
    </div>
    <div class="row">
        <div class="col-2">
            <%= image_tag @product.image.url, :class => "product-image image-margin" %>
        </div>
        <div class="col-10">
            <p class="text-margin">                 
                <%= @product.description %>
            </p>
        </div>        
    </div>
    <hr />
    <div class="row">
        <div class="col-4">
            <h4>Comentarios</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-8" id="comment-space">
        <% if @comments.length > 0 %>
            <%= render "comment_table", product: @product, comments: @comments%>
        <% else %>
            <h4>Aún no hay comentarios.</h4>
        <% end %>
        </div>
    </div>
    <% if current_user %>
    <br>
    <div class="row">
        <div class="col-10">
            <%= render "comment_form", comment: @comment %>
        </div>
    </div>
    <% end %>
</div>