<header id="nav-header">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="<%= url_for "/" %>"><h1 class="text-replacement">iCopete</h1></a>
                <p class="moto">No hay copete, iCopete.<p>
            </div>
            <ul>
                <% def get_id(array) %>
                    <%array.each do |cart|%>
                        <%if !(cart.reserved)%>
                            <%return cart.id %>                   
                        <%end%>                        
                    <%end%>
                    <%return 0%>
                <%end%>

                <% if current_user %>
                    <li><%= image_tag current_user.avatar.url, class: "small-avatar" %> Hola, <%= current_user.first_name %>!</li>
                    <li><%= link_to fa_icon("sign-out", text: "Desconectarse"), "/logout", class: "button" %></li>
                    <li>
                        <%= link_to "/cart", class: "button cart-counter" do %>
                            <%= fa_icon("shopping-cart") %>
                            Carro de compras (<span id="shopping-cart-number"><%= shopping_cart_number %></span>)
                        <% end %>
                    </li>
                    <% if current_user.admin_role? %>
                        <li><%= link_to fa_icon("tachometer", text: "Dashboard"), "/dashboard", class: "button" %></li>
                    <% else %>
                        <li><%= link_to fa_icon("user", text: "Mi perfil"), "/profile", class: "button" %></li>
                    <% end %>
                <% else %>
                    <li><%= link_to fa_icon("user-plus", text: "Registrarse"), "/signup", class: "button" %></li>
                    <li><%= link_to fa_icon("sign-in", text: "Ingresar"), "/login", class: "button" %></li>
                <% end %>
                
            </ul>
        </div>
    </div>
</header>