<header id="nav-header">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="<%= url_for "/" %>"><h1 class="text-replacement">iCopete</h1></a>
                <p class="moto">No hay copete, iCopete.<p>
            </div>
            <ul>
                <% def get_id(array) %>
                    <%array.each do |cart|%>
                        <%if !(cart.reserved)%>
                            <%return cart.id %>                   
                        <%end%>                        
                    <%end%>
                    <%return 0%>
                <%end%>


                <% if current_user %>
                    <li>Hola, <%= current_user.first_name %>!</li>
                    <li><%= link_to fa_icon("sign-out", text: "Desconectarse"), "/logout", class: "button" %></li>
                    <li><%= link_to fa_icon("shopping-cart", text: "Carro de compras (#{shopping_cart_number})"), "/cart", class: "button cart-counter" %></li>
                    <li><%= link_to fa_icon("beer", text: "Transacciones"), "/transactions", class: "button" %></li>
                <% else %>
                    <li><%= link_to fa_icon("user-plus", text: "Registrarse"), "/signup", class: "button" %></li>
                    <li><%= link_to fa_icon("sign-in", text: "Ingresar"), "/login", class: "button" %></li>
                <% end %>
                
            </ul>
        </div>
    </div>
</header>