<header id="nav-header">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="<%= url_for "/" %>"><h1 class="text-replacement">iCopete</h1></a>
            </div>
            <ul>
                <% if current_user %>
                    <li>Hola, <%= current_user.first_name %>!</li>
                    <li><%= link_to "Desconectarse", "/logout", class: "button" %></li>
                    <li><%= link_to "Carro de compras", "/cart", class: "button" %></li>
                <% else %>
                    <li><%= link_to "Registrarse", "/signup", class: "button" %></li>
                    <li><%= link_to "Ingresar", "/login", class: "button" %></li>
                <% end %>
            </ul>
        </div>
    </div>
</header>