<div id="site-navigation">
    <div class="container">
        <div class="row">
            <div class="col-12">                
                <ul class="site-nav-ul">
                    <li class="site-nav-li"> <%= link_to fa_icon("home", text: "Home"),"/" %></li>
                    <% if current_user && current_user.admin_role? %>
                        <li class="site-nav-li"><%= link_to fa_icon("user", text: "Usuarios"), users_path %></li>
                    <% end %>
                    <li class="site-nav-li dropdown">
                        <%= link_to fa_icon("archive", text: "Categorías"),"#", class: "dropbtn" %>
                        <div class="dropdown-content">
                            <% categories.each do |category| %>
                                <%= link_to category.name, category_path(category)%>
                            <%end%>
                        </div>
                    </li>
                    <li class="site-nav-li"><%= link_to fa_icon("beer", text: "Productos"), products_path %></li>
                    <li class="site-nav-li"> <%= link_to fa_icon("info-circle", text: "Contacto"), "#" %></li>
                </ul>                
            </div>
        </div>
    </div>
</div>